<!DOCTYPE html>
<html>
   <head>
      <title></title>
      <meta charsset="UTF-8">
      <style>
         .chess-board { border-spacing: 0; border-collapse: collapse; }
         .chess-board th { padding: .5em; }
         .chess-board th + th { border-bottom: 1px solid #000; }
         .chess-board th:first-child,
         .chess-board td:last-child { border-right: 1px solid #000; }
         .chess-board tr:last-child td { border-bottom: 1px solid; }
         .chess-board th:empty { border: none; }
         .chess-board td { width: 1.5em; height: 1.5em; text-align: center; font-size: 32px; line-height: 0;}
         .chess-board .light { {% if user == 2 %} transform:rotate(180deg); {% endif %} background: #eee; }
         .chess-board .dark { {% if user == 2 %} transform:rotate(180deg); {% endif %} background: #aaa; }
            {% if user == 2 %}
            #board {
                transform:rotate(180deg);
            }
            {% endif %}
      </style>
   </head>
   <body>
   <h3>Code: {{id}}</h3>
      <table>
      <tr>
      <td>
      <table id="board" class="chess-board">
         <tbody>
            <tr>
               <th></th>
               <th>a</th>
               <th>b</th>
               <th>c</th>
               <th>d</th>
               <th>e</th>
               <th>f</th>
               <th>g</th>
               <th>h</th>
            </tr>
            {% set dl = 0 %}
            {% for key,pi in board %}
            <tr>
               <th>{{ 8-key }} {% set case = 8-key %}</th>
               {% set ch = 0 %}
               {% for k,p in pi %}   
               {% if dl == 0 %}
               {% set dl = 1 %}
               <td onclick="document.getElementById('form_move').value = document.getElementById('form_move').value+'{{chars[ch]}}{{case}}';" class="light">
                  {% if p is not null %}
                  {% include 'game/pieces.html.twig' %}
                  {% endif %}
               </td>
               {% else %}
               {% set dl = 0 %}
               <td onclick="document.getElementById('form_move').value = document.getElementById('form_move').value+'{{chars[ch]}}{{case}}';" class="dark">
                  {% if p is not null %}
                  {% include 'game/pieces.html.twig' %}
                  {% endif %}
               </td>
               {% endif %}
               {% set ch = ch + 1 %}
               {% endfor %}
               {% if dl == 0 %}
               {% set dl = 1 %}
               {% else %}
               {% set dl = 0 %}
               {% endif %}
            </tr>
            {% endfor %}     
         </tbody>
      </table>
      </td>
      <td>
         <table style="margin-top: 10%;" class="chess-board">
         <tbody>
         <tr>
         {% for p in dead %}
         {% if p.color == 1 %}
         <td class="light">
            {% include 'game/pieces-dead-white.html.twig' %}
         </td>
         {% endif %} 
         {% endfor %}
         </tr>
         </tbody>
         </table>

         
         <table style="padding: 10px; margin-top: 50%;" class="chess-board">
         <tbody>
         <tr>
         {% for p in dead %}
         {% if p.color == 0 %}
         <td class="light" >
            {% include 'game/pieces-dead-black.html.twig' %}
         </td>
         {% endif %} 
         {% endfor %}
         </tr>
         </tbody>
         </table>
      </td>
      </tr>
      </table>
      {{ form(form_move) }}
      <button style="margin-left: 30%;" onclick="location.reload();">Reload</button>
        <p>Just type the move to move a piece exp: wBc1g5 (case sensitive!!)</p>
        <p>wBc1g5 means:  <br>
        * w : white will play <br>
        * B : white will play the bishop <br>
        * c1 : white will move bishop from c1 <br>
        * g5 : to g5 case
        </p>
        <p>don't forget that: </p>
        <ul>
        <li>'p' : pawn</li>
        <li>'B' : bishop</li>
        <li>'H' : Knight</li>
        <li>'K' : King</li>
        <li>'Q' : Queen</li>
        <li>'R' : Rook</li>
        </ul>
        <p>To castle long side (queen side) write: wOL or bOL</p>
        <p>To castle short side (king side) write: wOS or bOS</p>
   </body>
</html>